body {
  background-image: url('pexels-jplenio-1103970.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
title {
  color: rgb(0, 0, 255);
}
p {
  color: rgb(255, 0, 0);
}